@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoctorDoc1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DoctorDoc1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Guest" asp-controller="Home" asp-action="Index">Home</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="City" asp-action="Index">City</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Hospital" asp-action="Index">Hospital</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Doctor" asp-action="Index">Doctor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Qualification" asp-action="Index">Qualification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Specialization" asp-action="Index">Specialization</a>
                        </li>

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown text-light font-weight-bold">
                                <a class="nav-link dropdown-toggle" href="#"
                                   id="navbarDropDownMenuLink" role="button"
                                   data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    Administration
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">

                                    <a class="dropdown-item" asp-area="Admin"
                                       asp-controller="Administration"
                                       asp-action="Index"> Users </a>

                                    <a class="dropdown-item" asp-area="Admin"
                                       asp-controller="Administration"
                                       asp-action="ListRoles"> Roles </a>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-white font-weight-bold bg-info">
        <div class="container">
            &copy; 2020 - DoctorDoc1
            &#8226; <a asp-area="Admin" asp-controller="City" asp-action="Index">City</a>
            &#8226; <a asp-area="Admin" asp-controller="Hospital" asp-action="Index">Hospital</a>
            &#8226; <a asp-area="Admin" asp-controller="Doctor" asp-action="Index">Doctor</a>
            &#8226; <a asp-area="Admin" asp-controller="Qualification" asp-action="Index">Qualification</a>
            &#8226; <a asp-area="Admin" asp-controller="Specialization" asp-action="Index">Specialization</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
