@model IEnumerable<Specialization>

@{
    ViewData["Title"] = "Index";
}

<h1>Specializations</h1>

@if (Model.Any())
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <partial name="_EditDetailsAndDeleteButtonsPartial" model="item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No results.</h1>
}

