@model IEnumerable<Qualification>

@{
    ViewData["Title"] = "Qualifications";
}

<br />
<br />
<div class="row">
    <div class="col-2">
        <h2 class="text-black"> Qualifications</h2>
    </div>
    <div class="col-3 text-right">
        <a class="btn btn-primary" asp-action="Create">Create New Qualification</a>
    </div>
</div>
<br />
<br />

@if (Model.Any())
{
    <table class="table table-striped border">
        <thead>
            <tr class="table-secondary">
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Institute Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.InstituteName
                    </td>
                    <td>
                        <partial name="_EditDetailsAndDeleteButtonsPartial" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No results.</h1>
}

